In [1]:
import pandas as pd

In [2]:
m=pd.read_pickle(r'house_price_predictor.pkl')

In [3]:
m

LinearRegression()

In [4]:
inco= eval(input('Enter the Income:'))
age= eval(input('Enter the House Age:'))
room= eval(input('Enter the Number of Rooms:'))
pop= eval(input('Enter the Population:'))

quary=pd.DataFrame({'Income':[inco],'House_Age':[age],'Rooms':[room],'Population':[pop]})

Enter the Income: 50000
Enter the House Age: 5
Enter the Number of Rooms: 6
Enter the Population: 4000

In [5]:
quary

   Income  House_Age  Rooms  Population
0   50000          5      6        4000

In [7]:
round(m.predict(quary)[0],0)

58247.0